*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    padding: 20px;
}

h2{
    text-align: center;
    padding: 20px;
}

.register{
    background: #59618F;
    width: 500px;
    margin: 0px 0px 0px 430px;
    color: white;
    font-size: 18px;
    padding: 20px;
    border-radius: 10px;
}

#register{
    margin-left: 50px;
}

label{
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    font-style: italic;
}

#name{
    width: 300px;
    border: none;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
}

input[type="button"], input[type="reset"], input[type="submit"]{
    margin-bottom: 28px;
    width: 400px;
    height: 32px;
    background: #222F79;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.2 ease;
    cursor: pointer;
}

input[type="button"]:hover, input[type="button"]:focus,
input[type="reset"]:hover, input[type="reset"]:focus,
input[type="submit"]:hover, input[type="submit"]:focus{
    background: #0000ff;
    transition: 0.2s ease;
}